//tooltip customize start


.tooltip {
    max-width: 100%;

    .tooltip-inner {
        background: $pure-white;
        color: $brand-primary;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        max-width: 100%;
    }

    &.bs-tooltip-top .tooltip-arrow::before {
        display: none;
    }

    &.bs-tooltip-bottom .tooltip-arrow::before {
        display: none;
    }

    &.bs-tooltip-start .tooltip-arrow::before {
        display: none;
    }

    &.bs-tooltip-end .tooltip-arrow::before {
        display: none;
    }
}

//tooltip customize ends