//$ver: ?ver=1;

$img: "../images/";
$FontPath: "../fonts";
$iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Roboto", sans-serif;


$brand-primary: #1976ca;
$brand-secondary: #3e3e3e;
$pure-white:#fff;

$select-primary: #f1f1f1;


