/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/** Appointment Button **/
.appointment-btn {
  margin-left: 25px;
  background: $brand-primary;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
}
.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link.active {
    width: 80%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  .appointment-btn {
    padding: 6px 18px;
  }
  .main-nav .navbar-nav .nav-item a {
    width: 100% !important;
    margin: 5px 0 !important;
  }
}
